.albumChoice {
    margin: auto;
}

.tracks {
    overflow-y: auto;
    height: 45vh;
    margin: auto;
    margin-left: 1.5%;
    text-align: justify;
}

#albumArt {
    float: right;
    height: 45vh;
}