body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./media/images/bowie_wallpaper_background.jpg);
  background-size: 110%;
  font-family: 'Roboto Condensed', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
